@model WebApplication1.Models.Venda

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes Venda</h2>

<div>
    <h4>Venda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ValorTotalVenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotalVenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataVenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataVenda)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.VendaID }) |
    @Html.ActionLink("Voltar para lista", "Index")
</p>
