@model WebApplication1.Models.Produto

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes Produto</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._UnidadeDeMedida.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._UnidadeDeMedida.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ProdutoID }) |
    @Html.ActionLink("Voltar para lista", "Index")
</p>
