@model WebApplication1.Models.LoteProduto

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes Lote Produto</h2>

<div>
    <h4>LoteProduto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._Produto.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Produto.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataProducao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataProducao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorVendaUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorVendaUnitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdeInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdeInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdeDisponivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdeDisponivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustoMedio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustoMedio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustoTotalInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustoTotalInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Validade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validade)
        </dd>
        <hr />
        <hr />



        <h5>Lotes de insumos utilizados na produção deste lote de produtos</h5>
        <ul>
            @foreach (var item in Model._LotesInsumoProducao)
        {
            <li>
                @item.QtdeInsumo
                @item._LoteInsumo._Insumo._UnidadeDeMedida.Sigla
                @item._LoteInsumo._Insumo.Nome |
                Marca @item._LoteInsumo._Marca.Nome |
                Id Lote @item._LoteInsumo.ID
            </li>
    }
        </ul>
        <hr />

        <h5>Vendas deste lote de produtos</h5>
        <ul>
            @foreach (var item in Model._ItensVenda)
        {
            <li>
                @item._Venda.DataVenda |
                @item.QtdeProduto
                @item._LoteProduto._Produto._UnidadeDeMedida.Sigla |
                Valor Venda R$ @item.ValorTotalItem |
                Id Venda @item.VendaID
            </li>
    }
        </ul>


    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar para lista", "Index")
</p>
