@model IEnumerable<WebApplication1.Models.Marca>

@{
    ViewBag.Title = "Index";
}

<h2>Marcas</h2>

<p>
    <a href="#" class="btnCreate">Nova Marca</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MarcaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MarcaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a href="#" class="btnEdit" data-value="@item.MarcaID">Editar</a> |
                <a href="#" class="btnDetails" data-value="@item.MarcaID">Detalhes</a> |
                <a href="#" class="btnDelete" data-value="@item.MarcaID">Excluir</a>
            </td>
        </tr>
    }

</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header">
                    <div id="conteudoModal">
                    </div>
                </div>
                <a href="#" class="btnVoltar">Voltar</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            $(".btnCreate").click(function () {

                var id = $(this).data("value");

                $("#conteudoModal").load("/Marcas/Create/",
                    function () {
                        $('#myModal').modal("show");
                    });
            });
        });

        $(document).ready(function () {

            $(".btnDetails").click(function () {

                var id = $(this).data("value");

                $("#conteudoModal").load("/Marcas/Details/" + id,
                    function () {
                        $('#myModal').modal("show");
                    });
            });
        });

        $(document).ready(function () {

            $(".btnDelete").click(function () {

                var id = $(this).data("value");

                $("#conteudoModal").load("/Marcas/Delete/" + id,
                    function () {
                        $('#myModal').modal("show");
                    });
            });
        });

        $(document).ready(function () {

            $(".btnEdit").click(function () {

                var id = $(this).data("value");

                $("#conteudoModal").load("/Marcas/Edit/" + id,
                    function () {
                        $('#myModal').modal('show');
                    });
            });
        });

        $(document).ready(function () {
            $(".btnVoltar").click(function () {
                $('#myModal').modal("hide");
                window.location.reload();
            })
        })
    </script>
}
