@model WebApplication1.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes Cliente</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <h5>Cliente</h5>

        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cpf_Cnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf_Cnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <hr />

        <h5>Endereço</h5>

        <dt>
            @Html.DisplayNameFor(model => model._Endereco.Logradouro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Endereco.Logradouro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._Endereco.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Endereco.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._Endereco.Complemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Endereco.Complemento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._Endereco.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Endereco.Bairro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._Endereco.Cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Endereco.Cep)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._Endereco._Cidade.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Endereco._Cidade.Nome) (@Html.DisplayFor(model => model._Endereco._Cidade._Estado.Sigla))
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Voltar para lista", "Index")
</p>
