@model IEnumerable<WebApplication1.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Novo Cliente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._Endereco._Cidade.Nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._Endereco._Cidade.Nome) (@Html.DisplayFor(modelItem => item._Endereco._Cidade._Estado.Sigla))
            </td>
            <td>
                <a href="#" class="btnEdit" data-value="@item.ID">Editar</a> |
                <a href="#" class="btnEditEndereco" data-value="@item._Endereco.EnderecoID">Editar Endereço</a> |
                <a href="#" class="btnDetails" data-value="@item.ID">Detalhes</a> |
                <a href="#" class="btnDelete" data-value="@item.ID">Excluir</a>
            </td>
        </tr>
    }

</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div id="conteudoModal"></div>

            </div>

        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            $(".btnEdit").click(function () {

                var id = $(this).data("value");

                $("#conteudoModal").load("/Clientes/Edit/" + id,
                    function () {
                        $('#myModal').modal("show");

                    });
            });
        });

        $(document).ready(function () {

            $(".btnDetails").click(function () {

                var id = $(this).data("value");

                $("#conteudoModal").load("/Clientes/Details/" + id,
                    function () {
                        $('#myModal').modal("show");

                    });
            });
        });

        $(document).ready(function () {

            $(".btnDelete").click(function () {

                var id = $(this).data("value");

                $("#conteudoModal").load("/Clientes/Delete/" + id,
                    function () {
                        $('#myModal').modal("show");

                    });
            });
        });


        $(document).ready(function () {

            $(".btnEditEndereco").click(function () {

                var id = $(this).data("value");

                $("#conteudoModal").load("/Enderecos/Edit/" + id,
                    function () {
                        $('#myModal').modal("show");

                    });
            });
        });


    </script>
}
