@model WebApplication1.Models.LoteInsumoProducao

@{
    ViewBag.Title = "Delete";
}

<h2>Excluir Lote Insumo Produção</h2>

<h3>Tem certeza que deseja excluir este lançamento?</h3>
<div>
    <h4>LoteInsumoProducao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._LoteInsumo.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._LoteInsumo.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdeInsumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdeInsumo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustoInsumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustoInsumo)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para lista", "Index")
        </div>
    }
</div>
