@model IEnumerable<WebApplication1.Models.LoteInsumoProducao>

@{
    ViewBag.Title = "Index";
}

<h2>Lotes Insumos Produção</h2>

<p>
    @Html.ActionLink("Novo Lote Insumo Produção", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._LoteInsumo.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdeInsumo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustoInsumo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._LoteInsumo.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdeInsumo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustoInsumo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.LoteInsumoProducaoID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.LoteInsumoProducaoID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.LoteInsumoProducaoID })
        </td>
    </tr>
}

</table>
