@model WebApplication1.Models.InsumoComposicaoProduto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InsumoComposicaoProduto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._Insumo.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Insumo.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._Produto.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Produto.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdeInsumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdeInsumo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InsumoComposicaoProdutoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
