@model IEnumerable<WebApplication1.Models.ItemVenda>

@{
    ViewBag.Title = "Index";
}

<h2>Itens Venda</h2>

<p>
    @Html.ActionLink("Novo Item Venda", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._LoteProduto.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorUnitarioItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorTotalItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdeProduto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._LoteProduto.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorUnitarioItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorTotalItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdeProduto)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ItemVendaID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ItemVendaID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.ItemVendaID })
        </td>
    </tr>
}

</table>
