@model WebApplication1.Models.UnidadeDeMedida

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes Unidade De Medida</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UnidadeDeMedidaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadeDeMedidaID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sigla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sigla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fracionavel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fracionavel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Voltar para lista", "Index")
</p>
