@model IEnumerable<WebApplication1.Models.EstoqueInsumo>

@{
    ViewBag.Title = "Index";
}

<h2>Estoque Insumos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._Insumo.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdeTotalEstoque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustoTotalEstoque)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._Insumo.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdeTotalEstoque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustoTotalEstoque)
        </td>
    </tr>
}

</table>
