<!--https://getbootstrap.com/docs/3.3/components/#nav-->

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Produção Alimentos", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastros<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Insumos", "Index", "Insumos")</li>
                            <li>@Html.ActionLink("Produtos", "Index", "Produtos")</li>
                            <li>@Html.ActionLink("Unidades de Medida", "Index", "UnidadesDeMedida")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Marcas", "Index", "Marcas")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Cidades", "Index", "Cidades")</li>
                            <li>@Html.ActionLink("Estados", "Index", "Estados")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                            <li>@Html.ActionLink("Fornecedores", "Index", "Fornecedores")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Estoque<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Insumos", "Index", "EstoqueInsumos")</li>
                            <li>@Html.ActionLink("Produtos", "Index", "EstoqueProdutos")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Consultar Lotes de Insumos Disponíveis", "Index", "LotesInsumos")</li>
                            <li>@Html.ActionLink("Consultar Lotes de Produtos Disponíveis", "Index", "LotesProdutos")</li>
                            <li role="separator" class="divider"></li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("Registrar Compra Insumos", "Create", "LotesInsumos")</li>

                    <li>@Html.ActionLink("Registrar Produção", "Create", "LotesProdutos")</li>

                    <li>@Html.ActionLink("Vendas", "Index", "Vendas")</li>





                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
