@model WebApplication1.Models.Estado

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes Estado</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EstadoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sigla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sigla)
        </dd>

    </dl>
</div>
