@model IEnumerable<WebApplication1.Models.Estado>

@{
    ViewBag.Title = "Index";
}

<h2>Estados</h2>

<p>
    @Html.ActionLink("Novo Estado", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EstadoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sigla)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sigla)
        </td>
        <td>
            <a href="#" class="btnEdit" data-value="@item.EstadoID">Editar</a> |
            <a href="#" class="btnDetails" data-value="@item.EstadoID">Detalhes</a> |
            <a href="#" class="btnDelete" data-value="@item.EstadoID">Excluir</a>
        </td>
    </tr>
    }

</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header">
                    <div id="conteudoModal">
                    </div>
                </div>
                <a href="#" class="btnVoltar">Voltar</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            $(".btnEdit").click(function () {

                var id = $(this).data("value");

                $("#conteudoModal").load("/Estados/Edit/" + id,
                    function () {
                        $('#myModal').modal("show");

                    });
            });
        });

        $(document).ready(function () {

            $(".btnDetails").click(function () {

                var id = $(this).data("value");

                $("#conteudoModal").load("/Estados/Details/" + id,
                    function () {
                        $('#myModal').modal("show");

                    });
            });
        });

        $(document).ready(function () {

            $(".btnDelete").click(function () {

                var id = $(this).data("value");

                $("#conteudoModal").load("/Estados/Delete/" + id,
                    function () {
                        $('#myModal').modal("show");

                    });
            });
        });

        $(document).ready(function () {
            $(".btnVoltar").click(function () {
                $('#myModal').modal("hide");
                window.location.reload();
            })
        })



    </script>
}
