@model WebApplication1.Models.Insumo

@{
    ViewBag.Title = "Delete";
}

<h2>Excluir Insumo</h2>

<h3>Tem certeza que deseja excluir este lançamento?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InsumoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsumoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._UnidadeDeMedida.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._UnidadeDeMedida.Nome) (@Html.DisplayFor(model => model._UnidadeDeMedida.Sigla))
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" />
        </div>
    }
</div>
