@model WebApplication1.Models.Insumo

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes Insumo</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.InsumoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsumoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._UnidadeDeMedida.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._UnidadeDeMedida.Nome) (@Html.DisplayFor(model => model._UnidadeDeMedida.Sigla))
        </dd>


    </dl>
    <div>
        @Html.ActionLink("Voltar para lista", "Index")
    </div>
</div>
