@model WebApplication1.Models.MovimentacaoEstoqueProduto

@{
    ViewBag.Title = "Delete";
}

<h2>Excluir Movimentação Estoque Produto</h2>

<h3>Tem certeza que deseja excluir este lançamento?</h3>
<div>
    <h4>MovimentacaoEstoqueProduto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._LoteProduto.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._LoteProduto.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataMovimentacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataMovimentacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qtde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qtde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorMovimentacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorMovimentacao)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para lista", "Index")
        </div>
    }
</div>
