@model WebApplication1.Models.MovimentacaoEstoqueInsumo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MovimentacaoEstoqueInsumo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._LoteInsumo.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._LoteInsumo.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataMovimentacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataMovimentacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qtde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qtde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorMovimentacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorMovimentacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
