@model WebApplication1.Models.Cidade

@{
    ViewBag.Title = "Delete";
}

<h2>Excluir cidade</h2>

<h3>Tem certeza que deseja excluir este lançamento?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.CidadeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CidadeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._Estado.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Estado.Nome)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" />
        </div>
    }
    <div>
        @Html.ActionLink("Voltar para lista", "Index")
    </div>
</div>
