@model WebApplication1.Models.Cidade

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes Cidade</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.CidadeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CidadeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._Estado.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Estado.Nome)
        </dd>



    </dl>
</div>
