@model IEnumerable<WebApplication1.Models.Cidade>

@{
    ViewBag.Title = "Index";
}

<h2>Cidades</h2>

<p>
    @Html.ActionLink("Nova cidade", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CidadeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._Estado.Nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CidadeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._Estado.Sigla) - @Html.DisplayFor(modelItem => item._Estado.Nome)
            </td>
            <td>
                <a href="#" class="btn btn-default btnEdit" data-value="@item.CidadeID">Editar</a>
                <a href="#" class="btn btn-default btnDetails" data-value="@item.CidadeID">Detalhes</a>
                <a href="#" class="btn btn-default btnDelete" data-value="@item.CidadeID">Excluir</a>
            </td>
        </tr>
    }

</table>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div id="conteudoModal"></div>

            </div>

        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            $(".btnEdit").click(function () {

                var id = $(this).data("value");

                $("#conteudoModal").load("/Cidades/Edit/" + id,
                    function () {
                        $('#myModal').modal("show");

                    });
            });
        });

        $(document).ready(function () {

            $(".btnDetails").click(function () {

                var id = $(this).data("value");

                $("#conteudoModal").load("/Cidades/Details/" + id,
                    function () {
                        $('#myModal').modal("show");

                    });
            });
        });

        $(document).ready(function () {

            $(".btnDelete").click(function () {

                var id = $(this).data("value");

                $("#conteudoModal").load("/Cidades/Delete/" + id,
                    function () {
                        $('#myModal').modal("show");

                    });
            });
        });


    </script>
    }
